.logo{
	text-align: center;
}



.h3{
	line-height: 5pt;
}

h3{
	text-align: center;
	font-family:Georgia;
	font-size: 30;
	color:#4b5052; 
}

.form{ 
	text-align: center;
}

#username{
	width: 500px;
	height: 70px;
	border-radius: 15px;
	border: 3px solid #4b5052; 
	box-shadow: 3px 3px 8px 0 #000; 
	padding: 20px;
	background-color: lightgray;

}

#password{
	width: 500px;
	height: 70px;
	border-radius: 15px;
	border: 3px solid #4b5052;
	box-shadow: 3px 3px 8px 0 #000;
	padding: 20px;
	background-color: lightgray;
}

#submit{
	width: 500px;
	height: 70px;
	border-radius: 15px;
	border: 3px solid #4b5052;
	box-shadow: 3px 3px 8px 0 #000;
	cursor: pointer;
	background-color: darkgreen;
	font-size: 20px;
	font-weight: bold;

}


#dob{
	width: 500px;
	height: 70px;
	border-radius: 15px;
	border: 3px solid #4b5052;
	box-shadow: 3px 3px 8px 0 #000;
	cursor: pointer;
	background-color: lightgray;
}

#back{
	width: 100px;
	height: 40px;
	background-color: darkgreen;
	font-size: 20px;
	border-radius: 7px;
}